<main> 
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">API REST - ASP.NET</h1>
        <p class="lead">Solución para una empresa de gestión logística terrestre la cual administra el transporte en camiones, y al ser bastante exitosa ha obtenido en los últimos meses peticiones de empresas de transporte marítimo para que agregue la logística marítima a sus servicios..</p>
        <p></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Documentación</h2>                
          
            <p><a class="btn btn-outline-dark" @Html.ActionLink("API", "Index" , "Help" , new { area="" }, new { @class="nav-link"})  </p>
        </section>
    </div>
</main>